#main{
    width: 500px;
    height: auto;
}
*{
    background-color: black;
    color: white;
}

h1{
    color: #51e2f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(2, 2, 2);
} */

ul{
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
}